* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cccccc;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "section-apropos section-apropos section-img"
        "experiences experiences formations"
        "projets projets projets"
        "skills skills skills"
        "footer footer footer";
}


header {
    grid-area: hader;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 700px;
    background: url(https://images.pexels.com/photos/7546979/pexels-photo-7546979.jpeg) no-repeat center center/cover;
    background-attachment: fixed;
    color: aliceblue;
}

header h1 {
    font-size: 5em;
    font-weight: bold;
    padding: 50px;
}

header .subtitle {
    font-size: 1.5em;
    font-style: italic;
    padding: 50px;
}


nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    width: 100%;
    background: #004d4d;
    padding: 15px 50px;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background: #fff;
    color: #004d4d;
    transform: scale(1.1);
}

.section-img {
    grid-area: section-img;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#img img {
    width: clamp(300px, 25%, 600px);
    height: clamp(300px, 25%, 600px);
    overflow: visible;
    background-color: #fff;
    border-radius: 50%;
    padding: ;
    object-fit: cover;
}

#img ul {
    list-style: none;
    margin-top: 10px;
    padding: 2rem;
}

#img li {
    background-color: lightgoldenrodyellow;
    padding: 5px;
    border: 0.5px dashed;
}

.section-apropos {
    grid-area: section-apropos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    font-size: 1.5rem;
}

.section-apropos h2 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.section-apropos h2 mark {
    background-color: #004d4d;
    color: #fff;
    padding: 5px;
}

.section-apropos p {
    text-align: start;
}

.experiences {
    grid-area: experiences;
    padding: 50px;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.items h3 {
    font-size: 1.4rem;
}

.content p {
    border-bottom: 1px dashed;
    font-size: 1rem;
    object-fit: cover;
}

.content span {
    background-color: darkcyan;
} 

.experiences h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    background-color: #004d4d;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.content {
    text-align: center;
    width: 100%;
    background: lightgray;
    border-left: 5px solid #004d4d;
    border-radius: 20px;
    padding: 20px;
    
}

.content h3 {
    font-weight: bold;
    margin-bottom: 10px;
}


.formations {
    grid-area: formations;
    padding: 50px;
}

.formations h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    background-color: #004d4d;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.items-formation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.items-formation > div {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    flex: 1 1 300px;
    text-align: center;
}

.items-formation h3 {
    margin-bottom: 15px;
    background-color: #004d4d;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}


.skills {
    grid-area: skills;
}

.skills h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    background-color: #004d4d;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.skill-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 2px 3px 5px #004d4d;
    gap: 20px;
}

.skills h3 {
    text-align: center;
}


footer {
    grid-area: footer;
    background: #004d4d;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

